manifest {
    mainScript = 'phage.nf'
}

// default parameters
params {
  cores = "8"
  mem = "12"
  help = false
  fasta = ''
  fastq = ''
  dir = ''
  list = false

  // folder structure
  output = 'results'
}


profiles {

  standard {
        process.executor = 'local'
        docker { enabled = true }
        params.cpus = params.cores
        workDir = "/tmp/nextflow-phages-$USER"
        process {
	          withLabel: virsorter { cpus = 1; container = 'multifractal/virsorter:latest' }
            withLabel: deepvirfinder { cpus = 1; container = 'multifractal/deepvirfinder:0.1' }
            withLabel: marvel { cpus = 1; container = 'multifractal/marvel:0.1' }
            withLabel: metaphinder { cpus = 1; container = ' multifractal/metaphinder:0.1' }
            withLabel: pprmeta { cpus = 1; container = 'multifractal/ppr-meta:0.1' }
            withLabel: r_plot { cpus = 1; container = 'replikation/r-phage-plot:latest' }
            withLabel: ubuntu { cpus = 1; container = 'ubuntu:bionic' }
            withLabel: virfinder { cpus = 1; container = 'multifractal/virfinder:0.1' }

} } }
