manifest {
    mainScript = 'phage.nf'
}

params {
    // default parameters
    max_cores = Runtime.runtime.availableProcessors()
    cores = Runtime.runtime.availableProcessors()
    mem = "12"
    help = false
    fasta = false
    fastq = false
    dir = ''
    list = false
    cloudDatabase = false
    filter = '1500'
    setup = ''

    // folder structure
    output = 'results'
    databases = 'nextflow-autodownload-databases'
    workdir = "/tmp/nextflow-phages-$USER"
    cachedir = "singularity_images"

    // Profiles
    executor = 'local'
    engine = 'docker'

    // tool deactivation
    dv = false
    ma = false
    mp = false
    vf = false
    vs = false
    vs2 = false
    pp = false
    sm = false
    vb = false
    vn = false
    ph = false
	sk = false
    identify = false
    annotate = false
    virome = false

    // parameter
    hmm_params = '-E 1e-30'

     // raw tool output filters
    
    dv_filter = '0.9'
    // ma_filter = '75'
    mp_filter = '50'
    vf_filter = '0.9'
    sm_filter = '0.5'
    vn_filter = '0.5'
    vs2_filter = '0.9'
	sk_filter = '0.75'
    // pp_filter = ''
    // vb_filter = ''

}
// runinfo
timeline {
  enabled = true
  file = "${params.output}/runinfo/execution_timeline.html"
}

report {
  enabled = true
  file = "${params.output}/runinfo/execution_report.html"
}

profiles {
    // testrun profile
    test {
        params{  
            fasta = true
        }
    }

    smalltest {
        params{  
            fasta = true
        }
    }

    //executer
    local {
        executor {
                name = "local"
               	cpus = params.max_cores
        }
        workDir = params.workdir
        params.cloudProcess = false
        includeConfig 'configs/local.config'
    }

    lsf {
        executor {
                name = "lsf"
                queueSize = 200
        }
        workDir = params.workdir
        params.cloudProcess = true
        process.cache = "lenient"
        includeConfig 'configs/node.config'
    }

    slurm {
        executor {
            name = "slurm"
            queueSize = 200
        }
        workDir = params.workdir
        params.cloudProcess = true
        process {
            cache = "lenient"
            time = '2h'
            memory = '4 GB'
        }
        includeConfig 'configs/node.config'
    }

    ukj_cloud { 
        workDir = params.workdir
        params.cloudProcess = true
        docker { enabled = true } 
        process.executor = 'google-lifesciences'
        params.databases = 'gs://persistant-storage/What-the-Phage'
        bucketDir = 'gs://case-tmp-dir/What-the-Phage'
        google {  
            project = 'case-dev-302214'
            zone = 'europe-west1-b'
            lifeSciences.preemptible = true
            lifeSciences.bootDiskSize = 20.GB
            }
        includeConfig 'configs/container.config'
        includeConfig 'configs/node.config'
        
        // cloud error strategy
        process.errorStrategy = { task.exitStatus in [10,14,143,137,104,134,139] ? 'retry' : 'terminate' }
        process.maxRetries = 3
        process { withLabel: noDocker           { container = 'nanozoo/template:3.8--d089809' }}
        }

    //engines
    docker {
        docker { enabled = true }
        includeConfig 'configs/container.config'
    }

    singularity {
        singularity { 
                enabled = true
                autoMounts = true
                cacheDir = params.cachedir
        }
        includeConfig 'configs/container.config'
    }

    // gitaction
    git_action {
        includeConfig 'configs/local.config'
        params {
                cloudProcess = false
                ma = true
                mp = true
                vf = false
                vs = true
                pp = true
                sm = true
                vb = true
                vn = true
                dv = true
				sk = true
                anno = true
                fasta = 'test-data/all_pos_phage.fa'
        }
       }

    // cluster specific executer
    ebi {
        executor {
                name = "lsf"
                queueSize = 200
        }
        process.cache = "lenient"
        params.cloudProcess = true
        params.workdir = "/hps/nobackup2/production/metagenomics/$USER/nextflow-work-$USER"
        workDir = params.workdir
        params.databases = "/homes/$USER/data/nextflow-databases/"
        params.cachedir = "/hps/nobackup2/singularity/$USER"	
        includeConfig 'configs/node.config'
    }

}
