manifest {
    mainScript = 'phage.nf'
}

// default parameters
params {
  cores = "8"
  mem = "12"
  help = false
  fasta = ''
  fastq = ''
  dir = ''
  list = false

  // folder structure
  output = 'results'
}


profiles {

  standard {
        process.executor = 'local'
        docker { enabled = true }
        params.cpus = params.cores
        process {
            withLabel:metaphinder { container = 'replikation/metaphinder:latest' }
            withLabel:marvel { container = 'replikation/marvel:latest' }
            withLabel:deepvirfinder { container = 'replikation/deepvirfinder:latest' }
            withLabel: virfinder { container = 'replikation/virfinder:latest' }
} } }
