process {
    withLabel: chromomap        { container = 'nanozoo/r_fungi:0.1--097b1bb' }
    withLabel: checkV           { container = 'nanozoo/checkv:0.4.0--f3ed06e' }
    withLabel: deepvirfinder    { container = 'multifractal/deepvirfinder:0.1' }
    withLabel: emboss           { container = 'quay.io/biocontainers/emboss:6.5.7--4' }
    withLabel: ggplot2          { container = 'michelsteuwer/ggplot2:latest' }
    withLabel: hmmscan          { container = 'mhoelzer/hmmscan:0.1' }
    withLabel: marvel           { container = 'multifractal/marvel:0.1' }
    withLabel: metaphinder      { container = 'multifractal/metaphinder:0.1' }
    withLabel: pprmeta          { container = 'multifractal/ppr-meta:0.1' }
    withLabel: prodigal         { container = 'nanozoo/prodigal:2.6.3--2769024' }
    withLabel: python           { container = 'nanozoo/template:3.8--ccd0653' }
    withLabel: r_plot           { container = 'replikation/r-phage-plot:latest' }
    withLabel: samtools         { container = 'nanozoo/samtools:1.9--76b9270' }
    withLabel: seqkit           { container = 'nanozoo/seqkit:0.10.1--360dd6d' }
    withLabel: sourmash         { container = 'nanozoo/sourmash:2.3.0--4257650'  }
    withLabel: ubuntu           { container = 'nanozoo/basics:1.0--962b907' }
    withLabel: upsetr           { container = 'nanozoo/upsetr:1.4.0--0ea25b3' }
    withLabel: vibrant          { container = 'multifractal/vibrant:0.4'  }
    withLabel: virfinder        { container = 'multifractal/virfinder:0.1' }
    withLabel: virnet           { container = 'multifractal/virnet:0.6.3' }
    withLabel: virsorter        { container = 'multifractal/virsorter:0.1.2' }
}
