process {
    withLabel: altair           { container = 'nanozoo/altair:4.1.0--086b80e' }
    withLabel: chromomap        { container = 'nanozoo/r_fungi:0.1--097b1bb' }
    withLabel: checkV           { container = 'nanozoo/checkv:0.6.0--e97f45e' }
    withLabel: deepvirfinder    { container = 'multifractal/deepvirfinder:0.1' }
    withLabel: emboss           { container = ' nanozoo/emboss:6.6.0--418c521' }
    withLabel: ggplot2          { container = 'nanozoo/r_ggplot2:0.1--6405f6d' }
    withLabel: hmmscan          { container = 'nanozoo/hmmer:3.3--3db9dd1' }
    withLabel: marvel           { container = 'papanikos/marvel:0.2-29b3c73' }
    withLabel: metaphinder      { container = 'multifractal/metaphinder:0.1' }
    withLabel: pprmeta          { container = 'multifractal/ppr-meta:0.3.1' }
    withLabel: prodigal         { container = 'nanozoo/prodigal:2.6.3--2769024' }
    withLabel: python           { container = 'nanozoo/template:3.8--ccd0653' }
    withLabel: samtools         { container = 'nanozoo/samtools:1.9--76b9270' }
    withLabel: seqkit           { container = 'nanozoo/seqkit:0.10.1--360dd6d' }
    withLabel: sourmash         { container = 'nanozoo/sourmash:3.4.1--16a8db7'  }
    withLabel: ubuntu           { container = 'nanozoo/basics:1.0--962b907' }
    withLabel: upsetr           { container = 'nanozoo/upsetr:1.4.0--0ea25b3' }
    withLabel: vibrant          { container = 'multifractal/vibrant:0.5'  }
    withLabel: virfinder        { container = 'multifractal/virfinder:0.2' }
    withLabel: virnet           { container = 'multifractal/virnet-hack:0.1' }
    withLabel: virsorter        { container = 'multifractal/virsorter:0.1.2' }
    withLabel: phigaro          { container = 'multifractal/phigaro:0.5.2' }
    withLabel: virsorter2       { container = 'multifractal/virsorter-2:0.1' }
    withLabel: seeker           { container = 'multifractal/seeker:0.1' }

}
