process {
    withLabel: altair           { cpus = 1 }
    withLabel: chromomap        { cpus = params.cores }
    withLabel: checkV           { cpus = params.cores }
    withLabel: deepvirfinder    { cpus = 4 }
    withLabel: emboss           { cpus = params.cores }
    withLabel: ggplot2          { cpus = 1 }
    withLabel: hmmscan          { cpus = params.cores }
    withLabel: marvel           { cpus = 4 }
    withLabel: metaphinder      { cpus = 4 }
    withLabel: pprmeta          { cpus = 4 }
    withLabel: prodigal         { cpus = 1 }
    withLabel: python           { cpus = 1 }
    withLabel: r_plot           { cpus = 1 }
    withLabel: samtools         { cpus = 1 }
    withLabel: seqkit           { cpus = 1 }
    withLabel: sourmash         { cpus = 4 }
    withLabel: ubuntu           { cpus = 1 }
    withLabel: upsetr           { cpus = 1 }
    withLabel: vibrant          { cpus = 4 }
    withLabel: virfinder        { cpus = params.cores }
    withLabel: virnet           { cpus = 4 }
    withLabel: virsorter        { cpus = params.cores }
}
