process.executor = 'local'
docker { enabled = true }
params.cpus = params.cores
workDir = params.workdir

process {
            withLabel: deepvirfinder { cpus = 1; container = 'multifractal/deepvirfinder:0.1' }
            withLabel: emboss { cpus = params.cores ; container = 'quay.io/biocontainers/emboss:6.5.7--4' }
            withLabel: marvel { cpus = 1; container = 'multifractal/marvel:0.1' }
            withLabel: metaphinder { cpus = 1; container = ' multifractal/metaphinder:0.1' }
            withLabel: pprmeta { cpus = 1; container = 'multifractal/ppr-meta:0.1' }
            withLabel: r_plot { cpus = 1; container = 'replikation/r-phage-plot:latest' }
            withLabel: upsetr { cpus = 1; container = 'nanozoo/upsetr:1.4.0--0ea25b3' }
            withLabel: ubuntu { cpus = 1; container = 'nanozoo/basics:1.0--962b907' }
            withLabel: virfinder { cpus = 1; container = 'multifractal/virfinder:0.1' }
            withLabel: virsorter { cpus = 1; container = 'quay.io/biocontainers/virsorter:1.0.6--pl526h516909a_1' }
            withLabel: ggplot2 { cpus = 1 ; container = 'michelsteuwer/ggplot2:latest' }
            withLabel: samtools { cpus = 1 ; container = 'nanozoo/samtools:latest' }
            withLabel: sourmash { cpus = 1 ; container = 'nanozoo/sourmash:2.3.0--4257650'  }
            withLabel: virnet { cpus = 1; container = 'multifractal/virnet:0.5.1' }

}
