process.executor = 'local'
docker { enabled = true }
params.cpus = params.cores
workDir = params.workdir

process {
            withLabel: deepvirfinder { cpus = 1; container = 'multifractal/deepvirfinder:0.1' }
            withLabel: emboss { cpus = params.cores ; container = 'quay.io/biocontainers/emboss:6.5.7--4' }
            withLabel: marvel { cpus = 1; container = 'multifractal/marvel:0.1' }
            withLabel: metaphinder { cpus = 1; container = ' multifractal/metaphinder:0.1' }
            withLabel: pprmeta { cpus = 1; container = 'multifractal/ppr-meta:0.1' }
            withLabel: r_plot { cpus = 1; container = 'replikation/r-phage-plot:latest' }
            withLabel: upsetr { cpus = 1; container = 'nanozoo/upsetr:1.4.0--03b9c79' }
            withLabel: ubuntu { cpus = 1; container = 'ubuntu:bionic' }
            withLabel: virfinder { cpus = 1; container = 'multifractal/virfinder:0.1' }
            withLabel: virsorter { cpus = 1; container = 'multifractal/virsorter:latest' }
            withLabel: ggplot2 { cpus = 1 ; container = 'michelsteuwer/ggplot2:latest' }
}
