workDir = params.workdir

process.executor = 'lsf'
singularity {
    enabled = true
    autoMounts = true
    cacheDir = params.cachedir
    //temp = "/hps/nobackup2/singularity/mhoelzer/build/.singularity/tmp"
}
params.cpus = params.cores

process {
            cache = "lenient"
            //errorStrategy = "retry"
            //maxRetries = 1
            withLabel: deepvirfinder { cpus = 8; memory = '8 GB'; container = 'multifractal/deepvirfinder:0.1' }
            withLabel: emboss { cpus = 4; memory = '4 GB'; container = 'quay.io/biocontainers/emboss:6.5.7--4' }
            withLabel: marvel { cpus = 8; memory = '8 GB'; container = 'multifractal/marvel:0.1' }
            withLabel: metaphinder { cpus = 8; memory = '8 GB'; container = 'multifractal/metaphinder:0.1' }
            withLabel: noDocker { cpus = 1 ; memory = '8 GB' ; container = 'nanozoo/abricate:0.9.3--db720c5' }
            withLabel: pprmeta { cpus = 8; memory = '8 GB'; container = 'multifractal/ppr-meta:0.1' }
            withLabel: r_plot { cpus = 4; memory = '4 GB'; container = 'replikation/r-phage-plot:latest' }
            withLabel: upsetr { cpus = 1; memory = '4 GB'; container = 'nanozoo/upsetr:1.4.0--03b9c79' }
            withLabel: ubuntu { cpus = 4; memory = '4 GB'; container = 'ubuntu:bionic' }
            withLabel: virfinder { cpus = 8; memory = '8 GB'; container = 'multifractal/virfinder:0.1' }
            withLabel: virsorter { cpus = 8; memory = '8 GB'; container = 'multifractal/virsorter:latest' }
            withLabel: ggplot2 { cpus = 1 ; memory = '8 GB'; container = 'michelsteuwer/ggplot2:latest' }
}

