workDir = params.workdir

executor {
    name = "lsf"
    queueSize = 200
}

singularity { 
    enabled = true
    autoMounts = true
    cacheDir = params.cachedir
}

params.cpus = params.cores

process {
            cache = "lenient"
            //errorStrategy = "retry"
            //maxRetries = 1
            withLabel: deepvirfinder { cpus = 24; memory = '32 GB'; container = 'multifractal/deepvirfinder:0.1' }
            withLabel: emboss { cpus = 4; memory = '8 GB'; container = 'quay.io/biocontainers/emboss:6.5.7--4' }
            withLabel: marvel { cpus = 24; memory = '32 GB'; container = 'multifractal/marvel:0.1' }
            withLabel: metaphinder { cpus = 24; memory = '32 GB'; container = 'multifractal/metaphinder:0.1' }
            withLabel: pprmeta { cpus = 24; memory = '32 GB'; container = 'multifractal/ppr-meta:0.1' }
            withLabel: r_plot { cpus = 4; memory = '4 GB'; container = 'replikation/r-phage-plot:latest' }
            withLabel: upsetr { cpus = 1; memory = '4 GB'; container = 'nanozoo/upsetr:1.4.0--0ea25b3' }
            withLabel: ubuntu { cpus = 4; memory = '4 GB'; container = 'ubuntu:bionic' }
            withLabel: virfinder { cpus = 24; memory = '32 GB'; container = 'multifractal/virfinder:0.1' }
            withLabel: virsorter { cpus = 24; memory = '32 GB'; container = 'quay.io/biocontainers/virsorter:1.0.6--pl526h516909a_1' }
            withLabel: ggplot2 { cpus = 1 ; memory = '8 GB'; container = 'michelsteuwer/ggplot2:latest' }
            withLabel: samtools { cpus = 1 ; memory = '32 GB'; container = 'nanozoo/samtools:latest' }
            withLabel: sourmash { cpus = 8 ; memory = '32 GB'; container = 'nanozoo/sourmash:2.3.0--4257650'  }
}

