
process {

            //errorStrategy = "retry"
            //maxRetries = 1
            withLabel: chromomap        { cpus = 1 }
            withLabel: deepvirfinder    { cpus = 24; memory = '32 GB' }
            withLabel: emboss           { cpus = 4; memory = '8 GB' }
            withLabel: ggplot2          { cpus = 1; memory = '8 GB' }
            withLabel: hmmscan          { cpus = 4 }
            withLabel: marvel           { cpus = 24; memory = '32 GB' }
            withLabel: metaphinder      { cpus = 24; memory = '32 GB' }
            withLabel: pprmeta          { cpus = 24; memory = '32 GB' }
            withLabel: prodigal         { cpus = 4 }
            withLabel: python           { cpus = 1 }
            withLabel: r_plot           { cpus = 4; memory = '4 GB' }
            withLabel: samtools         { cpus = 1 ; memory = '32 GB' }
            withLabel: seqkit           { cpus = 1 ; memory = '4 GB' }
            withLabel: sourmash         { cpus = 8 ; memory = '32 GB' }
            withLabel: ubuntu           { cpus = 4; memory = '4 GB' }
            withLabel: upsetr           { cpus = 1; memory = '4 GB' }
            withLabel: vibrant          { cpus = 4 }
            withLabel: virfinder        { cpus = 24; memory = '32 GB' }
            withLabel: virnet           { cpus = 4 }
            withLabel: virsorter        { cpus = 24; memory = '32 GB' }
}