
process {
    withLabel: altair           { cpus = 4; memory = '8 GB'; disk = '100 GB' }
    withLabel: checkV           { cpus = 24; memory = '32 GB'; disk = '100 GB' }
    withLabel: chromomap        { cpus = 2; memory = '4 GB' }
    withLabel: deepvirfinder    { cpus = 24; memory = '32 GB'; disk = '100 GB' }
    withLabel: emboss           { cpus = 4; memory = '8 GB' }
    withLabel: ggplot2          { cpus = 4; memory = '8 GB' }
    withLabel: hmmscan          { cpus = 4; memory = '8 GB'; disk = '100 GB' }
    withLabel: marvel           { cpus = 24; memory = '32 GB'; disk = '100 GB' }
    withLabel: metaphinder      { cpus = 24; memory = '32 GB'; disk = '100 GB' }
    withLabel: pprmeta          { cpus = 24; memory = '32 GB'; disk = '100 GB' }
    withLabel: prodigal         { cpus = 4; memory = '8 GB' }
    withLabel: python           { cpus = 2; memory = '3 GB' }
    withLabel: r_plot           { cpus = 4; memory = '4 GB' }
    withLabel: samtools         { cpus = 4 ; memory = '6 GB' }
    withLabel: seqkit           { cpus = 2 ; memory = '8 GB'; disk = '100 GB' }
    withLabel: sourmash         { cpus = 8 ; memory = '32 GB'; disk = '100 GB' }
    withLabel: ubuntu           { cpus = 4; memory = '4 GB' }
    withLabel: upsetr           { cpus = 2; memory = '8 GB' }
    withLabel: vibrant          { cpus = 4; memory = '8 GB' }
    withLabel: virfinder        { cpus = 24; memory = '32 GB'; disk = '100 GB' }
    withLabel: virnet           { cpus = 24; memory = '32 GB'; disk = '100 GB' }
    withLabel: virsorter        { cpus = 24; memory = '32 GB'; disk = '100 GB' }
    withLabel: noDocker         { cpus = 4; memory = '4 GB' }
    withLabel: phigaro          { cpus = 24; memory = '32 GB'; disk = '100 GB' }
    withLabel: seeker           { cpus = 24; memory = '32 GB'; disk = '100 GB' }
    withLabel: virsorter2       { cpus = 24; memory = '32 GB'; disk = '100 GB' }
    withLabel: pharokka         { cpus = 24; memory = '32 GB'; disk = '100 GB' }
}
